<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /signature_generator/
RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])$ /signature_generator/$1/ [L,R=301]
RewriteCond %{REQUEST_URI} !^/signature_generator/assets/
RewriteRule (.*) routes.php [QSA,L]
</IfModule>