@import "../main/mixins";

.editor {
  position: relative;
  border-radius: var(--border-radius-main);
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: var(--border-main);

  &__canvas {
    width: 100%;
    height: 20em;
    background: var(--color-bg-light);
  }

  &__tools {
    position: relative;
    background: var(--color-bg-lightdark);
    padding: .5em;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .tools__left,
    .tools__right {
      position: relative;
      display: flex;
      align-items: stretch;
    }

    .tools__left {
      gap: 1em;
      
      .left__tool  {
        &.tool_edit,
        &.tool_clear {
          @include button;

          flex: 1 1 25%;
        }

        &.tool_color {
          position: relative;
          -webkit-appearance: none;
          aspect-ratio: 1 / 1;
          height: 100%;
          padding: 0;
          width: auto;
          overflow: hidden;
          cursor: pointer;
          border-radius: var(--border-radius-small);

          &::-webkit-color-swatch-wrapper {
            padding: 0;
          }

          &::-webkit-color-swatch {
            border-radius: var(--border-radius-small);
          }
        }

        &.tool_thickness {
          -webkit-appearance: none;
          width: 10em;
          height: 1.15em;
          background: var(--color-bg-lightdark-accent);
          border-radius: var(--border-radius-small);
          align-self: center;

          &:focus-within:focus-visible {
            &::-moz-range-thumb {
              filter: brightness(.75);
            }

            &::-ms-thumb {
              filter: brightness(.75);
            }

            &::-webkit-slider-thumb {
              filter: brightness(.75);
            }
          }

          &::-moz-range-thumb {
            border: none;
            background: var(--color-main);
            height: 160%;
            width: .9em;
            border-radius: var(--border-radius-small);
            cursor: pointer;
            transition: var(--transition-main);

            &:hover {
              filter: brightness(.75);
            }
          }

          &::-ms-thumb {
            border: none;
            background: var(--color-main);
            height: 160%;
            width: .9em;
            border-radius: var(--border-radius-small);
            cursor: pointer;
            transition: var(--transition-main);

            &:hover {
              filter: brightness(.75);
            }
          }
          
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            background: var(--color-main);
            height: 1.8em;
            width: .9em;
            border-radius: var(--border-radius-small);
            cursor: pointer;
            transition: var(--transition-main);

            &:hover {
              filter: brightness(.75);
            }
          }
        }
      }
    }

    .tools__right {
      .right__tool {
        flex: 1 1 100%;

        &.tool_share,
        &.tool_download {
          @include button($background: var(--color-bg-lightdark), $color: var(--color-text), $font-size: var(--font-size-3));

          aspect-ratio: 1;
          padding: .25em;
        } 
      }
    }
  }
}