@import "../main/mixins";

.main-footer {
  background: var(--color-bg-light);
  
  &__content {
    @include mainContentContainer;

    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;

    .content__part {
      &.part_link, .part__link {
        @include link;
      }

      &.part_contact-btn {
        display: none;
      }
    }
  }
}