@import "../main/mixins";

.signature-card {
  flex: 1 1 30%;
  min-width: 15em;
  display: flex;
  flex-direction: column;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  overflow: hidden;

  &__top {
    padding: 0;

    .top__image {
      @include image;

      width: 100%;
      height: 10em;
      background: var(--color-bg-light);
      object-fit: contain;
      padding: .15em;
    }
  }

  &__bottom {
    display: flex;
    align-items: stretch;
    gap: .5em;
    justify-content: space-between;
    background: var(--color-bg-lightdark);
    padding: .5em;

    .bottom__left,
    .bottom__right {
      display: flex;
      align-items: stretch;
      // flex: 1 1 50%;
    }

    .bottom__left {
      gap: 1em;

      .left__edit-btn {
        @include button;
      }
    }

    .bottom__right {
      justify-content: flex-end;

      .right__btn {
        @include button($background: var(--color-bg-lightdark), $color: var(--color-text), $font-size: var(--font-size-4));

        flex: 1 1 100%;
        padding: .35em;
      }
    }

    @media screen and (width < 800px) {
      gap: .15em !important;

      .bottom__left {
        flex: 1 1 25%;
        justify-content: stretch;

        .left__edit-btn {
          flex-grow: 1;
          padding: .35em .75em;

          svg {
            // display: none;
          }
        }
      }

      .bottom__right {
        flex: 1 1 75%;
        flex-grow: 1;
        gap: .15em;
      }
    }
  }
}