//------COMPONENTS------
@import "../components/socials-modal";
@import "../components/generator-form";
@import "../components/advertisement";
@import "../components/editor";
@import "../components/signature-card";
@import "../components/preview-lightbox";
@import "../components/go-top";

.main-content {
  &__face {
    background: var(--color-bg-light);
    border-radius: var(--border-radius-main);
    border: var(--border-main);
    padding: var(--padding-block);
    display: flex;
    gap: 1em;

    .face__left,
    .face__right {
      position: relative;
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .face__left {
      .left__title {
        @include wrapWords;

        font-size: var(--font-size-2);
      }

      .left__subtitle {
        @include wrapWords;
        
        font-size: var(--font-size-4);
        font-weight: 300;
        max-width: min(100%, 34rem);
      }
    }
    
    @media screen and (width < 680px) {
      flex-direction: column;

      .face__left {
        align-items: center;

        .left__title,
        .left__subtitle {
          text-align: center;
        }
      }

      .generator-form__submit {
        align-self: stretch;
      }
    }
  }

  &__socials {
    .social__wrapper {
      padding-inline: .5em;
    }
  }

  &__editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-block);

    .editor__heading {
      @include wrapWords;

      text-align: center;
    }
  }

  &__generated-signatures {
    display: flex;
    flex-direction: column;
    gap: 1em;

    // &:has(.disabled),
    // &:has(.generated-signatures__list:empty) {
    //   display: none;
    // }

    // &:has(.generated-signatures__list:not(:empty)),
    // &:has(.loading) {
    //   display: flex !important;
    // }

    .generated-signatures__list {
      width: 100%;
      gap: 1em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      transition: var(--transition-main);

      @media screen and (width < 800px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (width < 500px) {
        grid-template-columns: 1fr;
      }
    }

    .generated-signatures__loader {
      @include button;

      width: 100%;
      color: var(--color-text);
      background: var(--color-bg-lightdark);
      height: 2.5em;
      z-index: 1;
      border: var(--border-main);
      flex-shrink: 0;

      .loader__variant {
        display: flex;
        align-items: center;
        gap: 0.5em;
        position: absolute;
        transition: var(--transition-slow);
        scale: 0;
        opacity: 0;
        transform-origin: center;
        z-index: 1;

        .variant__icon {
          width: 1.25em;
          height: auto;
          fill: var(--color-main);
          color: var(--color-main);
        }
      }

      &:not(.loading) .variant_load-more {
        scale: 1;
        opacity: 1;
      }

      &.loading {
        user-select: none;
        pointer-events: visible;
        cursor: progress;

        .variant_loading {
          scale: 1;
          opacity: 1;
          z-index: 999;

          .variant__icon {
            animation: spin infinite 1s;
          }
        }
        
        &:hover::before,
        &:focus-visible:focus-within::before {
          filter: none !important;
        }
      }

      &.disabled {
        display: none;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-block);

    .about__block {
      background: var(--color-bg-light);
      border-radius: var(--border-radius-main);
      border: var(--border-main);
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: var(--padding-block);
      width: 100%;

      .block__img {
        @include image;
  
        border-radius: var(--border-radius-main);
        width: 100%;
        aspect-ratio: 3 / 1;
        height: auto;
      }
  
      .block__description {
  
        & > * {
          text-align: justify;
        }
      }
    }
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}