//------COMPONENTS------
@import "../components/socials-modal";
@import "../components/generator-form";
@import "../components/advertisement";
@import "../components/editor";

.main-content {
  &__face {
    background: var(--color-bg-light);
    border-radius: var(--border-radius-main);
    border: var(--border-main);
    padding: var(--padding-block);
    display: flex;
    gap: 1em;

    .face__left,
    .face__right {
      position: relative;
      flex: 1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .face__left {
      .left__title {
        font-size: var(--font-size-2);
      }

      .left__subtitle {
        font-size: var(--font-size-4);
        font-weight: 300;
        max-width: min(100%, 34rem);
      }
    }
  }
  &__editor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}